#coin {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.heads,
.tails {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.tails {
  transform: rotateX(180deg);
}

@keyframes spin-heads {
  0% {
    transform: rotateX(0deg) scale(1);
  }
  45% {
    transform: rotateX(3960deg) scale(1.4);
  }
  100% {
    transform: rotateX(7920deg) scale(1);
  }
}

@keyframes spin-tails {
  0% {
    transform: rotateX(0deg) scale(1);
  }
  45% {
    transform: rotateX(4140deg) scale(1.4);
  }
  100% {
    transform: rotateX(8100deg) scale(1);
  }
}
